body{
    background-color: aliceblue;
}
.fname{
    border: 1px solid;
}
.lname{
    border: 1px solid;
}
.email{
    border: 1px solid;
}
.mob{
    border: 1px solid;
}
.job{
    border: 1px solid;
}